/* global variables for the project */
$site-purple: #540d6e;
$site-pink: #ee4367;
$site-yellow: #ffd140;
$site-teal: #3bceab;
$site-green: #08ad69;
$site-white: #ffffff;
$overlay-yellow: rgba(255, 209, 64, 0.7);
$overlay-pink: rgba(238, 67, 103, 0.7);
$overlay-green: rgba(8, 173, 105, 0.7);
$overlay-purple: rgba(84, 13, 110, 0.7);
$overlay-teal: rgba(59, 206, 171, 0.7);
$site-black: #000000;
