/* styling for the looks page of the site */
.looks {
  max-width: 1280px;
  min-width: 650px;
  margin: 0 auto;
  padding-bottom: 70px;

  h1,
  .info {
    text-align: center;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
  }

  .fits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;

    .look {
      display: flex;
      flex-direction: column;
      width: 45%;
      padding: 40px;
      background-color: $peach-color;
      border-radius: 10px;
      margin: 20px;

      .big {
        max-width: 300px;
        min-width: 200px;
        height: auto;
        margin: 0 auto;
      }

      .other {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        img {
          width: 170px;
          height: auto;
          padding: 20px;
        }
      }
    }
  }
}

@media all and (max-width: 980px) {
  .looks {
    .fits {
      flex-direction: column;

      .look {
        width: 100%;
      }
    }
  }
}
