/* styling for the nav bar of the site */
nav {
  max-width: 1280px;
  min-width: 650px;
  margin: 0 auto;
  border-bottom: black dotted 1.5px;
  display: flex;
  justify-content: space-evenly;
  background-color: $peach-color;
  height: 55px;

  a {
    height: 100%;
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 6px 30px;
    height: 30px;
    margin-top: 13px;
    background-color: $button-color;
    border-radius: 15px;
    text-align: center;
    align-items: center;
  }

  a:hover {
    background-color: $dark-peach;
  }
}
