/*for basic structure code for the whole html, like styling the body tag or doing the reset code*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: #fffff5;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

section {
  padding: 20px 20px 20px 20px; /*top, right, bottom, left*/
}
