.clients {
  height: 1495px;
  text-align: center;
  display: flex;
  flex-direction: column;

  .top {
    width: 100%;
    display: flex;

    #start {
      width: 37%;
      border-top: 1px solid black;
      margin: 45px 0 0 40px;
    }

    #middle {
      width: 25%;

      h1 {
        padding-top: 25px;
        font-size: 30px;
      }
    }

    #end {
      width: 37%;
      border-top: 1px solid black;
      margin: 45px 40px 0 0;
    }
  }

  .logos {
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;

    img {
      padding: 25px;
    }
  }

  hr {
    width: 20%;
    margin: auto;
    margin-top: 30px;
  }

  .quotes {
    height: 645px;
    text-align: center;

    h1 {
      padding-top: 50px;
      font-size: 30px;
    }

    .slides {
      display: flex;
      flex-direction: row;

      a {
        text-decoration: none;
        font-size: 30px;
      }

      .left-arrow {
        width: 15%;
        text-align: right;
        margin: auto;
        padding: 200px 30px 30px 30px;
      }

      .text {
        width: 70%;

        h2 {
          font-size: 30px;
        }

        #name {
          text-align: right;
        }
      }

      .right-arrow {
        width: 15%;
        text-align: left;
        margin: auto;
        padding: 200px 30px 30px 30px;
      }
    }
  }
}
