/* variables are used for efficiency, only have to change values in once central place */
$nav-background-color: #333; /* a specific background color variable for the nav bar */
$link-color: #fff;
$content-width: 970px;
$orange-color: #fa6e1a;
